<div class="footer navbar-fixed-bottom">
  <div class="footer-copyright footer-links">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>
    Copyright © 2021 Cinebuster
  </div>
</div>