<p id="notice"><%= notice %></p>
<div class="container">

<h1>Tickets</h1>
<% @tickets.each do |ticket| %>
    <%= link_to ticket_path(ticket) do %>
      <div class="card-category">
        <%= ticket.movie.title %> <%= ticket.number_people %>
      </div>
    <% end %>
    <hr>
  <% end %>

</div>