.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 450px;
  margin-bottom: 20px;
  position: relative;
}

.container-banner {
  background-size: cover;
  background-color: rgba(0,0,0,0.4);
  background-position: center;
  height: 170px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: absolute;
  bottom: 0;

  h1 {
    margin: 50px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 2rem;
    font-weight: bold;
  }
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  border-radius: 4px;
  background: #343a40;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #212529;
  color: white;
}

