.footer {
  background: #323538;
  text-align: center;
  height: 100px;
  padding: 0px 50px;
  color: white;
  width: 100%;
}

.footer-links img {
  align-items: center;
  justify-self: center;
  width: 94px;
}

.footer .fa-heart {
  color: #D23333;
}