.movie-container {
  opacity: 1;
  width: 360px;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 50px;
}

.movie-img {
  width: 100%;
  min-width: 360px !important;
  object-fit: cover;
  object-position: center;
}

.title-container {
  background-size: cover;
  background-color: #161a1d;
  background-position: center;
  height: 60px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #003049;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h3 {
    font-size: 18px;
    font-weight: regular;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
  }

  p {
    font-size: 24px;
    font-weight: regular;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: 'Lobster', sans-serif;
    color: white;
    text-align: center;
  }
}

.movie-container-p {
  opacity: 1;
  width: 250px;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 50px;
}

.movie-img-p {
  width: 100%;
  min-width: 250px !important;
  object-fit: cover;
  object-position: center;
}

.title-container-p {
  background-size: cover;
  background-color: #161a1d;
  background-position: center;
  height: 60px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #003049;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h3 {
    font-size: 18px;
    font-weight: regular;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
  }

  p {
    font-size: 20px;
    font-weight: regular;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: 'Lobster', sans-serif;
    color: white;
    text-align: center;
  }
}
